In [80]:
import numpy as np
import pandas as pd
import datetime
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [103]:
df = pd.read_pickle('./mypkl/clean_with_datetime_en.pkl')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2926186 entries, 0 to 2935842
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   date                   datetime64[ns]
 1   date_block_num         Int8
 2   shop_id                Int8
 3   item_id                Int16
 4   item_price             float32
 5   item_cnt_day           float32
 6   item_name              category
 7   item_category_id       Int8
 8   item_category_name     category
 9   shop_name              category
 10  date_year              int16
 11  date_quarter           int8
 12  date_month             int8
 13  date_day               int8
 14  date_day_of_week       int8
 15  date_day_of_year       int16
 16  date_weekofyear        int8
 17  date_is_month_end      int8
 18  date_is_month_start    int8
 19  date_is_quarter_end    int8
 20  date_is_quarter_start  int8
 21  date_is_year_end       int8
 22  date_is_year_start     int8
 23  date_is_weekend        int8
 24  date_day_part          object
 25  is_Holiday             int8
 26  is_near_Holiday        int8
 27  until_holiday          int8
 28  since_holiday          int8
dtypes: Int16(1), Int8(3), category(3), datetime64[ns](1), float32(2), int16(2), int8(16), object(1)
memory usage: 181.6+ MB

In [83]:
# cols which can be used as lag based
# item_price, item_cnt_day

In [84]:
df.head(5)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name,...,date_is_quarter_end,date_is_quarter_start,date_is_year_end,date_is_year_start,date_is_weekend,date_day_part,is_Holiday,is_near_Holiday,until_holiday,since_holiday
0,2013-01-01,0,27,8665,299.0,1.0,BARBOSKINY ISSUE 5: The Sorcerer's Apprentice,40,Movie - DVD,"Moscow shopping center ""MEGA Belaya Dacha II""",...,0,1,0,1,0,None,1,1,0,0
1,2013-01-01,0,27,10324,1199.0,1.0,HARRY POTTER AND THE DEATHLY HALLOWS. PART 1 (...,38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,0,1,0,1,0,None,1,1,0,0
2,2013-01-01,0,27,11222,1699.0,1.0,Underworld: Awakening (3D BD),38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,0,1,0,1,0,None,1,1,0,0
3,2013-01-01,0,27,11076,749.5,1.0,WILD OCEAN (3D BD + BD),38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,0,1,0,1,0,None,1,1,0,0
4,2013-01-01,0,54,15115,170.0,2.0,Mini puzzle 11 *** / Mini Wire 11 *** Art. 473311,67,Gifts - Development,"Khimki TC ""Mega""",...,0,1,0,1,0,None,1,1,0,0

In [104]:
grouped_df = df.groupby(['shop_id','item_id'])

In [86]:
len(grouped_df.groups.keys()), len(grouped_df.groups)

(424092, 424092)

In [87]:
list(grouped_df.groups.keys())[:5]

[(0, 30), (0, 31), (0, 32), (0, 33), (0, 35)]

In [88]:
grouped_df.get_group((0,32)).head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name,...,date_is_quarter_end,date_is_quarter_start,date_is_year_end,date_is_year_start,date_is_weekend,date_day_part,is_Holiday,is_near_Holiday,until_holiday,since_holiday
10187,2013-01-03,0,0,32,221.0,2.0,1+1,40,Movie - DVD,"! Yakutsk Ordzhonikidze, 56 Franc",...,0,0,0,0,0,None,0,1,18,2
83166,2013-01-21,0,0,32,221.0,2.0,1+1,40,Movie - DVD,"! Yakutsk Ordzhonikidze, 56 Franc",...,0,0,0,0,0,None,1,0,0,0
93410,2013-01-25,0,0,32,221.0,1.0,1+1,40,Movie - DVD,"! Yakutsk Ordzhonikidze, 56 Franc",...,0,0,0,0,0,None,0,1,24,4
113174,2013-01-31,0,0,32,221.0,1.0,1+1,40,Movie - DVD,"! Yakutsk Ordzhonikidze, 56 Franc",...,0,0,0,0,0,None,0,0,18,10
132464,2013-02-05,1,0,32,221.0,1.0,1+1,40,Movie - DVD,"! Yakutsk Ordzhonikidze, 56 Franc",...,0,0,0,0,0,None,0,0,13,15

In [89]:
df.assign??

In [105]:
lag_dates = [1,2,3,4,5,6,7,10,15,20]

In [106]:
%%time
for i in lag_dates:
    df['item_cnt_day_lag_{}'.format(i)] =df.groupby(['shop_id', 'item_id'])['item_cnt_day'].shift(i)
    df['item_price_lag_{}'.format(i)] =df.groupby(['shop_id', 'item_id'])['item_price'].shift(i)
#     aa['target_lag_{}'.format(i)] = aa['y'].shift(i)

Wall time: 36.4 s

In [107]:
lag_cols = [col for col in df.columns if 'lag' in col]
lag_cols

['item_cnt_day_lag_1',
 'item_price_lag_1',
 'item_cnt_day_lag_2',
 'item_price_lag_2',
 'item_cnt_day_lag_3',
 'item_price_lag_3',
 'item_cnt_day_lag_4',
 'item_price_lag_4',
 'item_cnt_day_lag_5',
 'item_price_lag_5',
 'item_cnt_day_lag_6',
 'item_price_lag_6',
 'item_cnt_day_lag_7',
 'item_price_lag_7',
 'item_cnt_day_lag_10',
 'item_price_lag_10',
 'item_cnt_day_lag_15',
 'item_price_lag_15',
 'item_cnt_day_lag_20',
 'item_price_lag_20']

In [93]:
df[lag_cols].describe()

,item_cnt_day_lag_1,item_price_lag_1,item_cnt_day_lag_2,item_price_lag_2,item_cnt_day_lag_3,item_price_lag_3,item_cnt_day_lag_4,item_price_lag_4,item_cnt_day_lag_5,item_price_lag_5,item_cnt_day_lag_6,item_price_lag_6,item_cnt_day_lag_7,item_price_lag_7,item_cnt_day_lag_10,item_price_lag_10,item_cnt_day_lag_15,item_price_lag_15,item_cnt_day_lag_20,item_price_lag_20
count,2.502094e+06,2.502094e+06,2.208593e+06,2.208593e+06,1.983727e+06,1.983727e+06,1.803041e+06,1.803041e+06,1.653746e+06,1.653746e+06,1.526970e+06,1.526970e+06,1.417875e+06,1.417875e+06,1.164459e+06,1.164459e+06,889214.000000,889214.000000,710557.000000,710557.000000
mean,1.239092e+00,9.081121e+02,1.264248e+00,9.210867e+02,1.287727e+00,9.312283e+02,1.310016e+00,9.397622e+02,1.330940e+00,9.475471e+02,1.350898e+00,9.546178e+02,1.370067e+00,9.611577e+02,1.423325e+00,9.771157e+02,1.501908,999.756165,1.573174,1020.898682
std,1.079619e+00,1.710864e+03,1.147715e+00,1.709546e+03,1.196647e+00,1.709520e+03,1.244089e+00,1.709986e+03,1.285744e+00,1.713542e+03,1.323292e+00,1.719240e+03,1.378436e+00,1.729392e+03,1.474041e+00,1.756512e+03,1.626362,1812.028320,1.759113,1881.110229
min,1.000000e+00,7.000000e-02,1.000000e+00,7.000000e-02,1.000000e+00,7.000000e-02,1.000000e+00,7.000000e-02,1.000000e+00,7.000000e-02,1.000000e+00,7.000000e-02,1.000000e+00,1.000000e-01,1.000000e+00,1.000000e-01,1.000000,0.100000,1.000000,0.100000
25%,1.000000e+00,2.680000e+02,1.000000e+00,2.990000e+02,1.000000e+00,2.990000e+02,1.000000e+00,2.990000e+02,1.000000e+00,2.990000e+02,1.000000e+00,2.990000e+02,1.000000e+00,2.990000e+02,1.000000e+00,2.990000e+02,1.000000,299.000000,1.000000,299.000000
50%,1.000000e+00,4.190000e+02,1.000000e+00,4.490000e+02,1.000000e+00,4.790000e+02,1.000000e+00,4.990000e+02,1.000000e+00,4.990000e+02,1.000000e+00,4.990000e+02,1.000000e+00,5.000000e+02,1.000000e+00,5.590000e+02,1.000000,599.000000,1.000000,599.000000
75%,1.000000e+00,9.990000e+02,1.000000e+00,9.990000e+02,1.000000e+00,9.990000e+02,1.000000e+00,9.995000e+02,1.000000e+00,1.011945e+03,1.000000e+00,1.049000e+03,1.000000e+00,1.049000e+03,1.000000e+00,1.099000e+03,1.000000,1149.000000,1.000000,1190.000000
max,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,2.500000e+01,5.920000e+04,25.000000,59200.000000,25.000000,59200.000000

In [94]:
df.shape[0]

2926186

In [95]:
# number of rows with nan values
df.dropna().shape[0]
# clearly sab rows me nan values hai :)

0

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2926186 entries, 0 to 2935842
Data columns (total 49 columns):
 #   Column                 Dtype
---  ------                 -----
 0   date                   datetime64[ns]
 1   date_block_num         Int8
 2   shop_id                Int8
 3   item_id                Int16
 4   item_price             float32
 5   item_cnt_day           float32
 6   item_name              category
 7   item_category_id       Int8
 8   item_category_name     category
 9   shop_name              category
 10  date_year              int16
 11  date_quarter           int8
 12  date_month             int8
 13  date_day               int8
 14  date_day_of_week       int8
 15  date_day_of_year       int16
 16  date_weekofyear        int8
 17  date_is_month_end      int8
 18  date_is_month_start    int8
 19  date_is_quarter_end    int8
 20  date_is_quarter_start  int8
 21  date_is_year_end       int8
 22  date_is_year_start     int8
 23  date_is_weekend        int8
 24  date_day_part          object
 25  is_Holiday             int8
 26  is_near_Holiday        int8
 27  until_holiday          int8
 28  since_holiday          int8
 29  item_cnt_day_lag_1     float32
 30  item_price_lag_1       float32
 31  item_cnt_day_lag_2     float32
 32  item_price_lag_2       float32
 33  item_cnt_day_lag_3     float32
 34  item_price_lag_3       float32
 35  item_cnt_day_lag_4     float32
 36  item_price_lag_4       float32
 37  item_cnt_day_lag_5     float32
 38  item_price_lag_5       float32
 39  item_cnt_day_lag_6     float32
 40  item_price_lag_6       float32
 41  item_cnt_day_lag_7     float32
 42  item_price_lag_7       float32
 43  item_cnt_day_lag_10    float32
 44  item_price_lag_10      float32
 45  item_cnt_day_lag_15    float32
 46  item_price_lag_15      float32
 47  item_cnt_day_lag_20    float32
 48  item_price_lag_20      float32
dtypes: Int16(1), Int8(3), category(3), datetime64[ns](1), float32(22), int16(2), int8(16), object(1)
memory usage: 405.3+ MB

In [108]:
# replace all nans with 99999
df[lag_cols] = df[lag_cols].fillna(99999)
# filling with -999 resulted in column type being float32
# to size badh gaya
# but 0 se bhi float 32 hi hai
# finally choosing a positive value

#### downcast and remove

In [109]:
nunique = df.nunique()
cols_to_drop = nunique[nunique == 1].index
cols_to_drop

Index([], dtype='object')

In [110]:
df.drop(cols_to_drop, axis=1, inplace = True)

In [100]:
import gc
def downcast_df_int_columns(df):
    list_of_columns = list(df.select_dtypes(include=["int32", "int64"]).columns)
        
    if len(list_of_columns)>=1:
        max_string_length = max([len(col) for col in list_of_columns]) # finds max string length for better status printing
        
        for col in list_of_columns:
            df[col] = pd.to_numeric(df[col], downcast="integer")

    gc.collect()
    print("done")
    
def downcast_df_float_columns(df):
    list_of_columns = list(df.select_dtypes(include=["float64","float32" ]).columns)
        
    if len(list_of_columns)>=1:
        max_string_length = max([len(col) for col in list_of_columns]) # finds max string length for better status printing
        
        for col in list_of_columns:
            df[col] = pd.to_numeric(df[col], downcast="float")

    gc.collect()
    print("done")

In [111]:
downcast_df_int_columns(df)
downcast_df_float_columns(df)

done
done

In [114]:
import dataprep
from dataprep.clean import clean_df

In [116]:
%%time
inferred_dtypes, cleaned_df = clean_df(df, remove_duplicate_entries = True, downcast_memory = True, 
                                       clean_header=False, standardize_missing_values= 'ignore')

Data Type Detection Report:
	These data types are supported by DataPrep to clean: []
Number of Entries Cleaning Report:
No Duplicated Entries Cleaned.
Downcast Memory Report:
	Memory reducted from 474128233 to 459497411. New size: (96.91%)
Wall time: 7min 55s

In [117]:
inferred_dtypes

                      semantic_data_type atomic_data_type
date                          datetime64       datetime64
date_block_num                   integer          integer
shop_id                          integer          integer
item_id                          integer          integer
item_price                      floating         floating
item_cnt_day                    floating         floating
item_name                    categorical      categorical
item_category_id                 integer          integer
item_category_name           categorical      categorical
shop_name                    categorical      categorical
date_year                        integer          integer
date_quarter                     integer          integer
date_month                       integer          integer
date_day                         integer          integer
date_day_of_week                 integer          integer
date_day_of_year                 integer          integer
date_weekofyear                  integer          integer
date_is_month_end                integer          integer
date_is_month_start              integer          integer
date_is_quarter_end              integer          integer
date_is_quarter_start            integer          integer
date_is_year_end                 integer          integer
date_is_year_start               integer          integer
date_is_weekend                  integer          integer
date_day_part                      empty            empty
is_Holiday                       integer          integer
is_near_Holiday                  integer          integer
until_holiday                    integer          integer
since_holiday                    integer          integer
item_cnt_day_lag_1              floating         floating
item_price_lag_1                floating         floating
item_cnt_day_lag_2              floating         floating
item_price_lag_2                floating         floating
item_cnt_day_lag_3              floating         floating
item_price_lag_3                floating         floating
item_cnt_day_lag_4              floating         floating
item_price_lag_4                floating         floating
item_cnt_day_lag_5              floating         floating
item_price_lag_5                floating         floating
item_cnt_day_lag_6              floating         floating
item_price_lag_6                floating         floating
item_cnt_day_lag_7              floating         floating
item_price_lag_7                floating         floating
item_cnt_day_lag_10             floating         floating
item_price_lag_10               floating         floating
item_cnt_day_lag_15             floating         floating
item_price_lag_15               floating         floating
item_cnt_day_lag_20             floating         floating
item_price_lag_20               floating         floating

In [118]:
cleaned_df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name,...,item_cnt_day_lag_6,item_price_lag_6,item_cnt_day_lag_7,item_price_lag_7,item_cnt_day_lag_10,item_price_lag_10,item_cnt_day_lag_15,item_price_lag_15,item_cnt_day_lag_20,item_price_lag_20
0,2013-01-01,0,27,8665,299.0,1.0,BARBOSKINY ISSUE 5: The Sorcerer's Apprentice,40,Movie - DVD,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
1,2013-01-01,0,27,10324,1199.0,1.0,HARRY POTTER AND THE DEATHLY HALLOWS. PART 1 (...,38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
2,2013-01-01,0,27,11222,1699.0,1.0,Underworld: Awakening (3D BD),38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
3,2013-01-01,0,27,11076,749.5,1.0,WILD OCEAN (3D BD + BD),38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
4,2013-01-01,0,54,15115,170.0,2.0,Mini puzzle 11 *** / Mini Wire 11 *** Art. 473311,67,Gifts - Development,"Khimki TC ""Mega""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2926181,2015-10-31,33,47,4367,1399.0,1.0,"LEGO Star Wars III: the Clone Wars [PS3, rus's...",19,Games - PS3,"Surgut SEC ""City Mall""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
2926182,2015-10-31,33,56,15040,599.0,1.0,"Metro 2033. Return [PC, Russian version]",28,Games PC - Additional publications,"Czechs SEC ""Carnival""",...,1.0,599.0,1.0,599.0,1.0,599.0,1.0,599.0,1.0,599.0
2926183,2015-10-31,33,57,3327,149.0,1.0,"FIFA 13 [PSP, Russian version]",21,Games - PSP,"Yakutsk Ordzhonikidze, 56",...,1.0,149.0,1.0,149.0,1.0,1499.0,99999.0,99999.0,99999.0,99999.0
2926184,2015-10-31,33,16,3243,599.0,3.0,"Evolve [PC, Russian version]",30,Games PC - Standard Edition,"Kolomna TC ""Rio""",...,1.0,1499.0,1.0,1499.0,1.0,1499.0,99999.0,99999.0,99999.0,99999.0
2926185,2015-10-31,33,57,16050,2999.0,1.0,Board game Ticket to Ride Europe art.1032,64,Gifts - Board Games,"Yakutsk Ordzhonikidze, 56",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [119]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926186 entries, 0 to 2926185
Data columns (total 49 columns):
 #   Column                 Dtype
---  ------                 -----
 0   date                   datetime64[ns]
 1   date_block_num         Int8
 2   shop_id                Int8
 3   item_id                Int16
 4   item_price             float32
 5   item_cnt_day           float32
 6   item_name              category
 7   item_category_id       Int8
 8   item_category_name     category
 9   shop_name              category
 10  date_year              Int16
 11  date_quarter           Int8
 12  date_month             Int8
 13  date_day               Int8
 14  date_day_of_week       Int8
 15  date_day_of_year       Int16
 16  date_weekofyear        Int8
 17  date_is_month_end      Int8
 18  date_is_month_start    Int8
 19  date_is_quarter_end    Int8
 20  date_is_quarter_start  Int8
 21  date_is_year_end       Int8
 22  date_is_year_start     Int8
 23  date_is_weekend        Int8
 24  date_day_part          category
 25  is_Holiday             Int8
 26  is_near_Holiday        Int8
 27  until_holiday          Int8
 28  since_holiday          Int8
 29  item_cnt_day_lag_1     float32
 30  item_price_lag_1       float32
 31  item_cnt_day_lag_2     float32
 32  item_price_lag_2       float32
 33  item_cnt_day_lag_3     float32
 34  item_price_lag_3       float32
 35  item_cnt_day_lag_4     float32
 36  item_price_lag_4       float32
 37  item_cnt_day_lag_5     float32
 38  item_price_lag_5       float32
 39  item_cnt_day_lag_6     float32
 40  item_price_lag_6       float32
 41  item_cnt_day_lag_7     float32
 42  item_price_lag_7       float32
 43  item_cnt_day_lag_10    float32
 44  item_price_lag_10      float32
 45  item_cnt_day_lag_15    float32
 46  item_price_lag_15      float32
 47  item_cnt_day_lag_20    float32
 48  item_price_lag_20      float32
dtypes: Int16(3), Int8(19), category(4), datetime64[ns](1), float32(22)
memory usage: 413.7 MB

In [120]:
cleaned_df.to_pickle('./mypkl/clean_with_datetime_lag_en.pkl')

In [ ]:
df =  pd.read_pickle('./mypkl/clean_with_datetime_lag_en.pkl')